.col-centered{
float: none;
margin: 0 auto;
}

/*TYPOGRAPHY*/

h3{
    font-size: 40px;
    text-transform: uppercase;
}

h4{
    margin-top: 20px;
    font-size: 14px;
    text-transform: uppercase;
}