.col-centered{
float: none;
margin: 0 auto;
}

.thumbnail{
    border-radius: 30px;
    background-color:rgba(128, 158, 79, 0.45);
}

/*TYPOGRAPHY*/

body {
    color: white;
    background-image: url("Foodshot_2016_31_31-1.jpg");
    background-size: cover;
    font-family: 'Rubik', sans-serif;
}

h1{
    font-size: 90px;
    color: #1AAAAB;
}

h2{
    text-transform: uppercase;
    font-size:30px;
    font-weight: 600;
}

h3{
    font-weight: 400;
    letter-spacing: 0px;
    margin-top:1px;
    font-size: 35px;
    text-transform: uppercase;
}

h4{
    font-weight: 400;
    margin-bottom:5px; 
    margin-top: 20px;
    font-size: 14px;
    text-transform: uppercase;
}

.form-control {
    margin: auto;
    width: 95%;
}